

<body >
    
  <pre class="centrado" >
      
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -- 
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -- 
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -- 
  -- * * * * * * * * * * * Bienvenido * * * * * * * * * * * * * * --  
  -- * * * * * * * * * * al nuevo centro * * * * * * * * * * * * * -- 
  -- * * * * * * * * * * * * POKEMON * * * * * * * * * * * * * * * --   
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -- 
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -- 
  -- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -- 
  </pre>
  

</body>


<input type="hidden" #selection>

<div class="card-container">
  <button class="card card-small" routerLink="/">
    <span>EMPECEMOS</span>
  </button>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>